//Use the roboto font from google
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "test";

html {
	font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
    margin: 10px;
}

h2 {
	color: red;
}

